<lang>
	<info>
		<revision>20/05/2008</revision>
	</info>
	<texts>
		<text>April</text>
		<text>August</text>
		<text>Cancel</text>
		<text>Create</text>
		<text>December</text>
		<text>Delete</text>
		<text>F</text>
		<text>February</text>
		<text>Fri</text>
		<text>January</text>
		<text>July</text>
		<text>June</text>
		<text>M</text>
		<text>March</text>
		<text>May</text>
		<text>Mon</text>
		<text>New</text>
		<text>No</text>
		<text>November</text>
		<text>October</text>
		<text>Open</text>
		<text>S</text>
		<text>SA</text>
		<text>Sat</text>
		<text>Save</text>
		<text>Save As</text>
		<text>September</text>
		<text>Sun</text>
		<text>T</text>
		<text>TH</text>
		<text>Thu</text>
		<text>Tue</text>
		<text>W</text>
		<text>Wed</text>
		<text>Yes</text>
	</texts>
</lang>
