<lang>
	<info>
		<revision>03/03/2012</revision>
	</info>
	<texts>
		<text>Another file</text>
		<text>April</text>
		<text>August</text>
		<text>December</text>
		<text>Error %s</text>
		<text>extracted</text>
		<text>F</text>
		<text>February</text>
		<text>Fri</text>
		<text>January</text>
		<text>July</text>
		<text>June</text>
		<text>M</text>
		<text>March</text>
		<text>May</text>
		<text>Mon</text>
		<text>November</text>
		<text>October</text>
		<text>Open File</text>
		<text>S</text>
		<text>SA</text>
		<text>Sat</text>
		<text>Save as</text>
		<text>September</text>
		<text>Sun</text>
		<text>T</text>
		<text>TH</text>
		<text>Thu</text>
		<text>Tue</text>
		<text>Upload</text>
		<text>W</text>
		<text>Wed</text>
	</texts>
</lang>