<CONFIG>
	<ALLOW_USER_REGISTER>1</ALLOW_USER_REGISTER>
	<DEFAULT_GROUP>public</DEFAULT_GROUP>
	<EYEOS_DEBUG_MODE>0</EYEOS_DEBUG_MODE>
	<EYEOS_HOSTNAME>eyeOS</EYEOS_HOSTNAME>
	<BASE_APP>eyeLogin</BASE_APP>
	<ALLOW_PUBLIC_DIRS>1</ALLOW_PUBLIC_DIRS>
	<MAX_USERNAME_LEN>60</MAX_USERNAME_LEN>
	<ALLOW_BIG_STREAMS>1</ALLOW_BIG_STREAMS>
	<DEFAULT_CHARSET>UTF-8</DEFAULT_CHARSET>
	<DEFAULT_QUOTA>1073741824</DEFAULT_QUOTA>
	<FORMAT_PARSER>OpenOffice</FORMAT_PARSER>
	<OFFICE_SCREEN>1</OFFICE_SCREEN>
	<OFFICE_COMMAND>soffice</OFFICE_COMMAND>
	<OFFICE_USE_DISPLAY>1</OFFICE_USE_DISPLAY>
	<OFFICE_SEPARATOR_ARG>'</OFFICE_SEPARATOR_ARG>
	<EXTERN_CACHE>1</EXTERN_CACHE>
	<CACHE_VERSION>1</CACHE_VERSION>
	<EXTERN_CACHE_MANUAL>1</EXTERN_CACHE_MANUAL>
	<WEB_UPLOAD>0</WEB_UPLOAD>
	<DEFAULT_LANGUAGE>en</DEFAULT_LANGUAGE>
</CONFIG>